<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find robot_describes)/urdf/xbot/common_inertia.xacro"/>
  <xacro:macro name="caster_xacro" params="caster_name xyz">
    <!-- 万向轮 -->
    <link name="${caster_name}_link">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
          <sphere radius="0.016"/>
        </geometry>
        <material name="yellow">
          <color rgba="1.0 1.0 0.0 0.8" />
        </material>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
          <sphere radius="0.016"/>
        </geometry>
        <material name="yellow">
          <color rgba="1.0 1.0 0.0 0.8" />
        </material>
      </collision>
      <xacro:sphere_inertia m="0.05" r="0.016"/>
    </link>
    <!-- 机器人关节，用来组合机器人部件 可转动类型-->
    <joint name="${caster_name}_joint" type="fixed">
      <!-- 父部件 -->
      <parent link="base_link"/>
      <!-- 子部件固定到父部件上 -->
      <child link="${caster_name}_link"/>
      <!-- 固定的位置 -->
      <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
    </joint>
  </xacro:macro>
</robot>
