<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="gazebo_sensor_plugin">
    <gazebo>
      <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
        <render_engine>ogre2</render_engine>
      </plugin>
    </gazebo>
    <gazebo reference="laser_link">
      <sensor name="gpu_lidar" type="gpu_lidar">
        <!-- 发布数据的话题名称 -->
        <topic>scan</topic>
        <!-- 发布频率 1 HZ -->
        <update_rate>1</update_rate>
        <gz_frame_id>laser_link</gz_frame_id>
        <ray>
          <!-- 设置扫描范围 -->
          <scan>
            <horizontal>
              <!-- 一圈采样点 -->
              <samples>360</samples>
              <!-- 分辨率 -->
              <resolution>1.0</resolution>
              <!-- 最小角度 -->
              <min_angle>0.0</min_angle>
              <!-- 最大角度 -->
              <max_angle>6.28</max_angle>
            </horizontal>
          </scan>
          <!-- 扫描距离 -->
          <range>
            <!-- 最短距离 -->
            <min>0.12</min>
            <!-- 最大距离 -->
            <max>8.0</max>
            <!-- 分辨率 -->
            <resolution>0.015</resolution>
          </range>
        </ray>
        <!-- 总是扫描 -->
        <always_on>1</always_on>
        <!-- 可视化打开 -->
        <visualize>true</visualize>
      </sensor>
    </gazebo>

    <gazebo>
      <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu">
      </plugin>
    </gazebo>
    
    <gazebo reference="imu_link">
      <sensor name="imu_sensor" type="imu">
        <!-- 发布话题名称 -->
        <topic>imu</topic>
        <always_on>1</always_on>
        <!-- 更新频率 -->
        <update_rate>1</update_rate>
        <!-- 可视化 -->
        <visualize>true</visualize>
        <!-- 六轴噪声设置 -->
        <imu>
          <angular_velocity>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </z>
          </angular_velocity>
          <linear_acceleration>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </z>
          </linear_acceleration>
        </imu>
      </sensor>
    </gazebo>

    <!-- 深度相机 -->
    <gazebo reference="camera_link">
      <sensor name="grbd_camera" type="rgbd_camera">
        <topic>camera</topic>
        <update_rate>1</update_rate>
        <always_on>1</always_on>
        <visualize>true</visualize>
        <gz_frame_id>camera_link</gz_frame_id>
        <camera name="head">
          <optical_frame_id>camera_link</optical_frame_id>
          <!-- 水平视野角度 -->
          <horizontal_fov>1.3</horizontal_fov>
          <image>
            <!-- 图像宽度 -->
            <width>320</width>
            <!-- 图像高度 -->
            <height>240</height>
          </image>
          <clip>
            <!-- 近裁剪平面 -->
            <near>0.02</near>
            <!-- 远裁剪平面 -->
            <far>12</far>
          </clip>
        </camera>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
